<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <p>
            These are favicons from around the world :)
        </p>
        <div id="favicon-container">
            <% data.icons.forEach(icon => ( %>
                <img src="img/favicons/<%= icon.name %>.<%= icon.ext %>" width="24"></img>
             <% ); %>
        </div>
    </body>
</html>