<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <h1>Cardboard Cafe</h1>
        <p>
            <a href="favicons">favicon explorer</a>
        </p>
    </body>
</html>