/* Variables */

:root {
    --main-bg-color: seashell;
    --main-txt-color: #004d00;
}

/* Main */

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

.favicon-container {
    display: inline-flex;
    flex-direction: column;
    transition:transform 0.5s ease;
}

.favicon-container:focus {
    z-index: 1;
    -webkit-transform:scale(2); /* or some other value */
    transform:scale(2);
    border: 2px sienna;
    border-bottom: 1.1em sienna;
    margin: -2px;
    margin-bottom: -1.1em;
    border-style: outset;
    background-color: seashell;
    outline: none;
}

.favicon-description {
    display: none;
    white-space: nowrap;
}

.favicon-container:focus .favicon-description {
    display: block;
    margin-bottom: -1.5em;
    margin-top: .5em;
    /* background-color: pink; */
    font-size: 0.3em;
    color: gold;
}

.favicon-container img {
    margin: auto;
    font-size: 0.3em;
    padding: 2px;
}
