/* Variables */

:root {
    --main-bg-color: sandybrown;
    --main-txt-color: #004d00;
}

/* Main */

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}